:root
{
  --toastify-color-light: #E9ECEF;
  --toastify-icon-color-success:#FD377E;
  --toastify-color-progress-success: #FD377E;
  --toastify-text-color-light:#212529;
}

.li__container
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
  list-style: none;
  background: #F8F9FA;
  border-radius: 4px;
  height: 87px ;
  width: 90vw;

  border-left: solid #03B898 4px;
  transition: all ease .7s;

}

.li__container__despesa
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
  list-style: none;
  background: #F8F9FA;
  border-radius: 4px;
  height: 87px ;
  width: 90vw;
  border-left: solid #E9ECEF 4px;
  transition: all ease .7s;
}

.description__container h2
{
  text-align: left;
  width: 100%;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #212529;
}

.description__container p
{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  width: 100%;
  text-align: left;
  height: 27px;

  color: #868E96;
}

.value__container
{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  width: 30vw;
  height: 27px;

  color: #212529;
  
}
.value__container p
{
  text-align: start;
  margin: 50px;
}

.remove__item
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 15vw;
  height: 87px;
}

.remove__item img, .remove__item button
{
  border: none;
  height: 22px;
  width: 22px;
  cursor: pointer;

}

@media screen and (min-width: 768px){

  .li__container, .li__container__despesa
  {
    width: 550px;
  
  }

  .value__container
  {
    width: 62px;
  }

}