.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: white; 
  min-height: 100vh;
  min-width: 100vw;
}

.main__dashboard
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100vw;
}

.aside__right__home
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




